@import url(header.css);

.padre{
    position: relative;
    margin: auto;
    width: 100%;
    height: auto;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(menu.css);

body {
    font-family: 'Open Sans', sans-serif;
    padding: 60px;
    flex-wrap: wrap;
}

header {
    width: 100%;
    height: 50px;
    background: #333;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.contenedor {
    width: 98%;
    margin: auto;
}

h1 {
    float: left;
}

header .contenedor {
    display: table;
}

.bodyTmp {
    padding: 200px;
}

#area {
    height:80px;
    border: 2px inset #2f382f;
    padding: 1%;
}

.input {
    padding: 1%;
}

.boton {
    cursor: pointer;
    outline: none;
    border: none;
    padding: 6px 20px;
    background: rgb(180, 250, 18);
    color: black;
    text-align: center;
    border-radius: 8px;
    margin: 2%;
}

.botonInicio {
    padding: 3px 10px;
    background: rgb(180, 250, 18);
    color: black;
    text-align: center;
    border-radius: 8px;
    margin: 1%;
}

.contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    padding: 1%;
}

.input{
    outline: none;
    background: #f0ffea;
    margin-bottom: 7px;
    height: 15px;
    padding: 10px 35px;
    border-radius: 15px;
    border: 1px solid #e6e6e6;
}

.iconos{
    width: 60px;
	height: auto;
    border: none;
    padding: px;
}

.image-user {
    height: 100px;
    width: 100px;
    /* los siguientes valores son independientes del tamaño del círculo */
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    background-size: 100% auto;
}

.painter-user {
    padding: 40px;
}



.caja {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 2;
}

.portada {
    width: 400px; 
    height: 200px;
}

.share-post{
    width: 90%;
    margin: 10%;
    text-align: center;
}

.line-black {
    border: 2px solid black;  
    border-radius: 5px;
}

/* div {
    border: 2px solid black;
} */

.general {
    display: flex;
    padding: 30px;
}

.logo {
    justify-content: center;
    align-items: center;
}

.intro {
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.i {
    flex-direction: column;
}

.caja {
    align-items: center;
}


#father {
    background-repeat: repeat-x;
    height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  }

.post-nota {
    height: 10em;
    border: 1% solid #1a3f13;
    text-align: justify; 
    width: 100%;
    margin: 4%;
    border-radius: 3px;
    text-align: center;
    padding: 50%;
  }

  .cabeza {
      border: 2px solid black;
  }

  .general .perfil {
      border: 2px solid black;
  }

  .crud {
    flex-direction: row;
  }