#menu-bar{
    display: none;
}

header label {
    float: right;
    font-size: 28px;
    margin: 6px 0;
    cursor: pointer;
}

.menu {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    /* Para que me ocupe un 100% del alto de mi ventana */
    height: 100vh;
    background: rgba(51,51,51,0.9);
    /* Para que el menu se muestre y se oculte, hacemos: */
    transition: all 0.5s;
    transform: translate(-100%);
}

.menu a {
    display: block;
    color: #fff;
    height: 50px;
    text-decoration: none;
    padding: 15px;
    border-bottom: 1px solid rgba(255,255,255,0.5);
}

.menu a:hover {
    background: rgba(255,255,255,0.3);
}

/* cuando menu bar este con el check va seleccionar menu*/
#menu-bar:checked ~ .menu {
    transform: translateX(0%);
}
