.padre{
    position: relative;
    margin: auto;
    width: 100%;
    height: auto;
}

[class*="col-"]{
    float: left;
}

@media(max-width:767px){
    .col-xs-12{width: 100%;}
    .col-xs-6{width: 50%;}
    .col-xs-4{width: 33.33333333%;}
}

@media(min-width:1200px){
    .col-lg-12{width: 100%;}
    .col-lg-9{width: 75%;}
    .col-lg-4{width: 33.33333333%;}
    .col-lg-3{width: 25%;}
}

